<div class="bg-dark-blue border-right" id="sidebar-wrapper">
  <div class="sidebar-heading font-side text-center"><i class="fa "></i>Dashboard</div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-dark-blue font-side">
      <i class="fa fa-money margin-icon"></i> Nuevo Presupuesto
    </a>
  </div>

  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-dark-blue font-side">
      <i class="fa fa-plus-circle margin-icon"></i> Iniciar trámite
    </a>
  </div>
</div>
