.margin-icon{
  margin-right: 5px;
}
.font-side{
  color:white;
}

.footer-sidebar{
  position: absolute;
  bottom: 0;
}
#sidebar-wrapper{
  height: auto;
}

img{
  width: 150px;
  margin-top: 10px;
}
.background-content-img{
  background-color: #414c56;
}

.font-size-external-link{
  font-size: 11px;
}

.font-size-external-link-title{
  font-size: 15px;
}
