<div class="bg-dark-blue border-right" id="sidebar-wrapper">
  <div class="text-center background-content-img">
    <img src="./assets/img/onlyLogo.png" style="">
  </div>

  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="active"
       [routerLink]="['quotation']">
      <i class="fa fa-money margin-icon"></i> Cotización
    </a>
    <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="active"
       [routerLink]="['transaction']">
      <i class="fa fa-money margin-icon"></i> Tramites Pendientes
    </a>
    <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="active"
       [routerLink]="['calendar']">
      <i class="fa fa-calendar margin-icon"></i> Calendario
    </a>
    <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="active"
       [routerLink]="['documents']">
      <i class="fa fa-file margin-icon"></i> Documentos
    </a>
    <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="active"
       [routerLink]="['procedure']">
      <i class="fa fa-file-text margin-icon"></i> Catalogo Trámites
    </a>
    <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="active"
       [routerLink]="['cost']">
      <i class="fa fa-money margin-icon"></i> Costos
    </a>
    <a class="list-group-item list-group-item-action bg-dark-blue font-side" routerLinkActive="active"
       [routerLink]="['document']">
      <i class="fa fa-file-text margin-icon"></i> Tipo de Documento
    </a>
  </div>

  <div class="font-side footer-sidebar">
    <div class="list-group list-group-flush">
      <a
        class="list-group-item list-group-item-action bg-dark-blue font-side text-center sidebar-heading font-size-external-link-title">
        Enlaces externos </a>
      <a href="{{ linkCURP }}" target="_blank"
         class="list-group-item list-group-item-action bg-dark-blue font-side font-size-external-link">
        <i class="fa fa-file margin-icon"></i> Consultar CURP
      </a>
      <a href="{{ linkRFC }}" target="_blank"
         class="list-group-item list-group-item-action bg-dark-blue font-side font-size-external-link">
        <i class="fa fa-check margin-icon"></i> Validar RFC
      </a>
      <a href="{{ linkNewRFC }}" target="_blank"
         class="list-group-item list-group-item-action bg-dark-blue font-side font-size-external-link">
        <i class="fa fa-plus-square margin-icon"></i> Inscripción de RFC
      </a>
      <a href="{{ linkISABI }}" target="_blank"
         class="list-group-item list-group-item-action bg-dark-blue font-side font-size-external-link">
        <i class="fa fa-external-link margin-icon"></i> ISABI
      </a>
    </div>
  </div>
</div>
