<div class="container-fluid">
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <!--    section cotizationNumber-->
    <div class="row">
      <mat-form-field class="w-100">
        <input type="text" placeholder="Número de Cotización" matInput [matAutocomplete]="auto"
               formControlName="inputCotizacion">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let cotizacion of filteredCotizacion | async" [value]="cotizacion">
            {{cotizacion}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!--    Operación transitiva de dominio-->
    <div class="row justify-content-start margen">
      <div class="col-4">
        <mat-checkbox>Operación Traslativa de Dominio</mat-checkbox>
      </div>
    </div>
    <!--section expandable-->
    <div class="row margen justify-content-center">
      <div class="col-10">
        <mat-accordion>

          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Solicitantes
              </mat-panel-title>
              <mat-panel-description>
                Llenar datos de los participantes
                <i class="fa fa-user pl-2"></i>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row justify-content-end">
              <div class="col-2">
                <button (click)="addUser()" type="button" class="text-white bg-primary" mat-raised-button><i
                  class="fa fa-user-plus"></i>
                  Añadir
                </button>
              </div>
            </div>

            <div class="row margen" *ngFor="let controls of this.myForm.controls.arrayUser['controls']; let i = index;">
              <div class="col">
                <mat-form-field class="w-100">
                  <input type="text" matInput placeholder="Nombre(s)">
                </mat-form-field>
              </div>

              <div class="col">
                <mat-form-field class="w-100">
                  <input matInput type="text" placeholder="Apellido Paterno">
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="w-100">
                  <input matInput type="text" placeholder="Apellido Materno">
                </mat-form-field>
              </div>
              <div class="col-2">
                <button mat-mini-fab color="warn" (click)="deleteUser(i)"><i class="fa fa-user-times"></i></button>
              </div>
            </div>

            <mat-action-row>
              <button class="text-primary" mat-button (click)="nextStep()">Documentos</button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Documentos
              </mat-panel-title>
              <mat-panel-description>
                Documentación de la cotización {{myForm.controls.inputCotizacion.value}} <i class="fa fa-file pl-1"></i>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput placeholder="Country">
            </mat-form-field>

            <mat-action-row>
              <button class="text-primary" mat-button (click)="prevStep()">Solicitantes</button>
            </mat-action-row>
          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>
    <div class="row justify-content-center margen position-static">
      <div class="col-4">
        <button class="w-100" mat-raised-button color="primary" type="submit"><i class="fa fa-save pr-1"></i>Ejecutar
          Acción
        </button>
      </div>
    </div>
  </form>
</div>
