<div class="container-fluid">
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="form-group">
      <mat-form-field class="w-100">
        <input type="text" placeholder="Seleccione un tramite" matInput formControlName="inputTramite"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let tramite of filteredTramites | async" [value]="tramite">
            {{tramite}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div formArrayName="arrayCost">
        <!-- accion para añadir-->

        <div class="row margen">
          <div class="col-md-8">
          </div>
          <div class="col-md-2">
            <button (click)="addNewCost()" type="button" mat-raised-button color="primary"
                    title="Añadir"><i
              class="fa fa-plus"> Añadir</i>
            </button>
          </div>
          <div class="col-md-2">
          </div>
        </div>


        <div class="row margen">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <div *ngFor="let cost of myForm.controls.arrayCost['controls']; let i = index">
              <div [formGroupName]="i.toString()" class="col">
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field>
                      <input type="text" placeholder="Seleccione costo" matInput [matAutocomplete]="autoC"
                             formControlName="typeCost">
                      <mat-autocomplete #autoC="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions[i] | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field>
                      <input matInput placeholder="Precio" formControlName="price">
                    </mat-form-field>
                  </div>
                  <!--        accion para eliminar-->
                  <div class="col-md-4">
                    <button (click)="deleteCost(i)" type="button" mat-mini-fab color="warn" title="Eliminar"><i
                      class="fa fa-times-circle"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row margen">
        <div class="col-md-8">
        </div>
        <div class="col-md-2">
          <button class="margen" type="submit" mat-raised-button color="primary"><i class="fa fa-calculator"> Calcular</i>
          </button>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </form>
</div>
