<div class="container-fluid">
  <form [formGroup]="myForm" (ngSubmit)="submit()" autocomplete="off">
    <div class="form-group">

      <mat-form-field class="w-100">
        <mat-label>Seleccionar Trámite</mat-label>
        <input type="text" matInput [formControl]="inputProcedure" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnProcedure">
          <mat-option *ngFor="let procedure of filteredProcedures | async" [value]="procedure">
            {{procedure.type}}
          </mat-option>
        </mat-autocomplete>
        <mat-error>{{getMessageError('procedure_id')}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="folio">
        <mat-label>Folio</mat-label>
        <mat-error>{{getMessageError('folio')}}</mat-error>
      </mat-form-field>
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Costos
            </mat-panel-title>
            <mat-panel-description>
              Llene los campos para costos
              <i class="fa fa-dollar ml-1"></i>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!--    body-->
          <div>
            <!--        body section costType price-->
            <div formArrayName="costs">

              <!-- accion para añadir-->
              <div class="row justify-content-end margen">
                <div class="col-md-2">
                  <button (click)="addNewCost()" type="button" mat-raised-button color="primary"
                          title="Añadir"><i
                    class="fa fa-plus"> Añadir</i>
                  </button>
                </div>
              </div>

              <!--        Seccion para escoger costo y setear precio-->
              <div class="row justify-content-center"
                   *ngFor="let cost of myForm.controls.costs['controls']; let i = index">
                <div class="col">
                  <div [formGroupName]="i.toString()" class="row margen">
                    <!--costType-->
                    <div class="col pr-0 pl-0">

                      <div class="row justify-content-center">
                        <mat-form-field class="w-75">

                          <input type="text" placeholder="Seleccione costo" matInput [matAutocomplete]="autoC"
                                 formControlName="cost">
                          <mat-autocomplete #autoC="matAutocomplete" [displayWith]="displayFnCost">
                            <mat-option *ngFor="let cost of filteredCost[i] | async" [value]="cost">
                              {{cost.name}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>

                    </div>
                    <!--price-->
                    <div class="col pr-0 pl-0">
                      <div class="row justify-content-center">
                        <mat-form-field class="w-75">
                          <input matInput placeholder="Precio" formControlName="price" digitOnly>
                        </mat-form-field>
                      </div>
                    </div>
                    <!--accion para eliminar-->
                    <div class="col-2  pr-0 pl-0">
                      <button (click)="deleteCost(i)" type="button" mat-mini-fab color="warn" title="Eliminar"><i
                        class="fa fa-times-circle"></i></button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!--footer section-->
            <div class="row justify-content-center margen">
              <div class="col-md-6 ">
                <div class="row justify-content-start">
                  <div class="col text-center font-weight-bold">
                    <label>Total</label>
                  </div>
                  <div class="col priceBox">
              <span>
              ${{costTotal | number:'1.2-2'}}
              </span>
                  </div>
                  <div class="col">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="row justify-content-center margen">
      <div class="col-4">
        <button class="btn-block" type="submit" mat-raised-button color="primary" [disabled]="myForm.invalid"><i
          class="fa fa-file"> Generar
          Cotización</i>
        </button>
      </div>
    </div>
  </form>
</div>


