<div class="formContentParent">
  <div class="wrapper fadeInDown">
    <div class="formContent">
      <!-- Icon -->
      <div class="fadeIn first">
        <img class="m-3 img-thumbnail" src="./assets/img/logo.png" id="icon" alt="User Icon"/>
      </div>

      <!-- Login Form -->
      <form (ngSubmit)="login(f)" #f="ngForm"
            class="login100-form validate-form">
        <input type="email"
               id="email"
               class="fadeIn second inputLogin"
               name="username"
               placeholder="Usuario"
               required
               email
               [(ngModel)]="user.username"
        >
        <br>
        <span
          *ngIf="f.submitted && f.controls['username'].errors"
          class="text-danger animated fadeIn"
          style="margin-top: 5px;"
        >
          El correo es obligatorio
        </span>

        <input
          type="password"
          id="password"
          class="fadeIn third inputLogin"
          name="password"
          placeholder="Contraseña"
          [(ngModel)]="user.password"
          required
          minlength="6"
        >
        <br>
        <span
          *ngIf="f.submitted && f.controls['password'].errors"
          class="text-danger animated fadeIn"
        >
          La contraseña debe contener por lo menos 6 caracteres
        </span>

        <button type="submit" style="width: 86%" class="btn btn-outline-primary m-3"> Login</button>

        <a style="width: 86%" class="btn btn-outline-primary m-3" [routerLink]="['/dashboard']"> Entrar </a>
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
      </div>
    </div>
  </div>
</div>
