<div style="background-image: url('./assets/img/fondo.jpg'); width: 100%; height: 100%; position: absolute">
  <div class="wrapper fadeInDown" >
    <div class="formContent">
      <!-- Icon -->
      <div class="fadeIn first">
        <img class="m-3 img-thumbnail" src="./assets/img/logo.png" id="icon" alt="User Icon"/>
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <a style="width: 86%" class="btn btn-outline-primary m-3" [routerLink]="['/dashboard']"> Entrar </a>
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
      </div>
    </div>
  </div>
</div>
