<mat-tab-group>

  <mat-tab>
    <ng-template mat-tab-label>
      Compra-Venta
    </ng-template>
    <div class="container mt-3">
      <!--      section-->
      <div class="row justify-content-start">
        <div class="col-3">
          <mat-form-field>
            <input matInput placeholder="# Volumen" matTooltip="El numero del volumen actual">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <input matInput placeholder="# Instrumento" matTooltip="El numero del instrumento actual">
          </mat-form-field>
        </div>
      </div>

      <p class="text-justify">
        HEROICA CIUDAD DE TETELA DE OCAMPO, ESTADO DE PUEBLA,
        <mat-form-field>
          <input matInput placeholder="Fecha" matTooltip="Ingrese la fecha del documento">
        </mat-form-field>
        . ISAÍ GRACIDA MARTÍNEZ, Titular de la Notaría Pública Número Uno, del Distrito Judicial de Tetela, en
        ejercicio, hago constar: LA COMPRA-VENTA, que formalizan de una parte, que formalizan de una parte
        <mat-form-field>
          <input matInput placeholder="Vendedor" matTooltip="Ingrese el nombre de la parte vendedora">
        </mat-form-field>
        , en lo sucesivo “LA PARTE VENDEDORA” y de la otra,
        <mat-form-field>
          <input matInput placeholder="Comprador" matTooltip="Ingrese el nombre de la parte compradora.">
        </mat-form-field>
        en lo sucesivo “LA PARTE COMPRADORA”. Conforme a las prevenciones, antecedentes y cláusulas siguientes:

        PROTESTA DE LEY. Los otorgantes del acto jurídico que se consigna en este instrumento, fueron exhortados de
        conducirse con verdad, tanto en lo que declaren y manifiesten, como en las estipulaciones que se contengan en
        los capítulos correspondientes, enterados de las penas en que incurren si actúan o declaran con falsedad,
        manifestando su conformidad.

        CONFIDENCIALIDAD. En la prestación de servicios de fe pública, los datos personales son necesarios de
        conformidad con lo dispuesto en el artículo noventa y tres fracciones IX y XVI inciso a), de la Ley del
        Notariado del Estado de Puebla y para cumplir con las disposiciones de la Ley Federal de Protección de Datos
        Personales en Posesión de los Particulares, en forma previa me identifiqué con los otorgantes y les informé que
        los datos proporcionados quedan protegidos no se les dará un uso distinto, no obstante, deberán darse los
        avisos, declaraciones e informes a las autoridades competentes, en cumplimiento a las disposiciones legales,
        catastrales, fiscales y registrales, lo que aceptan para todos los efectos legales a que haya lugar.
      </p>
      <div class="row justify-content-center"><h3>ANTECEDENTES</h3>
      </div>
      <div class="row justify-content-center"><h5>Declara “LA PARTE VENDEDORA”, bajo protesta de decir verdad</h5>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>1 TÍTULO DE PROPIEDAD.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>1.1 DATOS REGISTRALES.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2 CONTRIBUCIONES.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>3 CARGAS Y GRAVÁMENES.</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center"><h3>CLÁUSULAS</h3>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
      <div class="row justify-content-center"><h3>DATOS GENERALES
      </h3>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>Bajo protesta de decir verdad declaran ser de nacionalidad mexicana y estar de paso en este
            lugar.
          </mat-label>
        </mat-form-field>
      </div>

      <p>YO, EL NOTARIO, CERTIFICO: I. Que los comparecientes tienen a mi juicio la capacidad legal necesaria para
        contratar y obligarse, quienes se identificaron con los documentos oficiales originales relacionados en el
        capítulo de datos generales. II. Que con relación a las disposiciones de la Ley Federal para la Prevención e
        Identificación de Operaciones con Recursos de Procedencia Ilícita, declaran bajo protesta de decir verdad: a)
        Que se conocen entre sí y se reconocen mutua personalidad y capacidad para contratar y obligarse. b) Que en
        relación a la presunción de existencia de beneficiario controlador, declaran que actúan a nombre y por cuenta
        propia y por lo tanto no existe. c) “LA PARTE VENDEDORA” declara que dentro de los seis meses anteriores a este
        acto, no ha realizado otras ventas por la que hubieran acumulado pagos en efectivo que excedan del límite
        establecido por la ley referida. III. Que lo relacionado e inserto, concuerda fielmente con los documentos
        originales que he tenido a la vista. IV. Que después de leer en voz alta este instrumento y explicarles el
        valor, fuerza y consecuencias legales del contenido, así como del derecho que les asiste para leer en forma
        personal este instrumento, manifiestan su conformidad y firman el día de su otorgamiento, a mayor abundamiento
        imprimen las huellas digitales del pulgar de la mano derecha. Doy fe.</p>

    </div>
    <div class="row justify-content-center container">
      <div class="col">
        <button class="bg-danger w-100 text-white" mat-raised-button>Borrar</button>
      </div>
      <div class="col">
        <button class="bg-primary w-100 text-white" mat-raised-button>Guardar</button>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Donación
    </ng-template>
    <div class="container mt-3">
      <!--      section-->
      <div class="row justify-content-start">
        <div class="col-3">
          <mat-form-field>
            <input matInput placeholder="# Volumen" matTooltip="El numero del volumen actual">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <input matInput placeholder="# Instrumento" matTooltip="El numero del instrumento actual">
          </mat-form-field>
        </div>
      </div>

      <p class="text-justify">
        HEROICA CIUDAD DE TETELA DE OCAMPO, ESTADO DE PUEBLA, a las
        <mat-form-field>
          <input matInput placeholder="Fecha" matTooltip="Ingrese la fecha del documento">
        </mat-form-field>
        . ISAÍ GRACIDA MARTÍNEZ, Titular de la Notaría Pública Número Uno, del Distrito Judicial de Tetela, en
        ejercicio, hago constar: que realiza
        <mat-form-field>
          <mat-label>Genero</mat-label>
          <select matNativeControl>
            <option value="el Señor">el Señor</option>
            <option value="la Señora">la Señora</option>
          </select>
        </mat-form-field>
        -
        <mat-form-field>
          <input matInput placeholder="Nombre Donador" matTooltip="Nombre de la persona donante">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Anexo" matTooltip="Ingresar Anexo">
        </mat-form-field>
        en lo sucesivo ,a favor de
        <mat-form-field>
          <input matInput placeholder="Nombre Beneficiario" matTooltip="Nombre de la persona que recibira el beneficio">
        </mat-form-field>


        PROTESTA DE LEY. Los otorgantes de los actos jurídicos que se consignan en este instrumento, fueron exhortados
        de conducirse con verdad, tanto en lo que declaren y manifiesten, como en las estipulaciones que se contengan en
        los capítulos correspondientes, enterados de las penas en que incurren si actúan o declaran con falsedad,
        manifestando su conformidad.

        CONFIDENCIALIDAD. En la prestación de servicios de fe pública, los datos personales son necesarios de
        conformidad con lo dispuesto en el artículo noventa y tres fracciones IX y XVI inciso a,) de la Ley del
        Notariado del Estado de Puebla y para cumplir con las disposiciones de la Ley Federal de Protección de Datos
        Personales en Posesión de los Particulares, en forma previa me identifiqué con los otorgantes y les informé que
        los datos proporcionados quedan protegidos y no se les dará un uso distinto, no obstante, deberá cumplirse con
        los avisos, declaraciones e informes a las autoridades competentes, de conformidad con las disposiciones
        legales, catastrales, fiscales y registrales, lo que aceptan para todos los efectos legales a que haya lugar
      </p>

      <div class="row justify-content-center"><h3>ANTECEDENTES</h3>
      </div>
      <div class="row justify-content-center">
        <div class="col-3">
          <mat-form-field>
            <mat-label>¿Cuantos declaran?</mat-label>
            <select matNativeControl required>
              <option value="volvo">Declara el Donante</option>
              <option value="saab">Declaran los Donantes</option>
            </select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <p class="align-text-bottom">bajo protesta de decir verdad:</p>
        </div>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>1 TÍTULO DE PROPIEDAD.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>1.1 DATOS REGISTRALES.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2 CONTRIBUCIONES.</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>3. RECTIFICACIÓN DE SUPERFICIE, MEDIDAS Y COLINDANCIAS.</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>4 CARGAS Y GRAVÁMENES.</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-5"><h3>CLÁUSULAS</h3>
      </div>

      <div class="row justify-content-center mt-1"><h3>CAPÍTULO 1</h3>
      </div>

      <div class="row justify-content-center mt-1"><h3>DECLARACIÓN DE EDIFICACIONES</h3>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-1"><h3>CAPÍTULO 2</h3>
      </div>

      <div class="row justify-content-center mt-1"><h3>DONACIÓN PURA</h3>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <div class="row justify-content-center"><h3>DATOS GENERALES
      </h3>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <p>YO, EL NOTARIO, CERTIFICO: I. Que los comparecientes tienen a mi juicio la capacidad legal necesaria para
        contratar y obligarse. II. Que se identificaron con los documentos oficiales relacionados en el capítulo de
        datos generales. III. Que lo relacionado e inserto, concuerda fielmente con los documentos originales que he
        tenido a la vista a los que me remito. IV. Que la donación realizada se encuentra exenta del Impuesto Sobre la
        Renta de conformidad con lo dispuesto en el artículo noventa y tres, fracción XXIII inciso a), de la Ley de la
        materia, acreditando la donataria su entroncamiento con los donantes con el extracto de su acta de nacimiento.
        Que los donantes fueron informados de la obligación que tiene la donataria de informar a las autoridades
        fiscales de la donación recibida. V. Que después de leer en voz alta este instrumento y de explicarles el valor,
        fuerza y consecuencias legales del contenido, así como del derecho que les asiste para leer en forma personal
        este instrumento, manifiestan su conformidad y firman el día de su otorgamiento, a mayor abundamiento imprimen
        las huellas digitales del pulgar de la mano derecha. Doy fe.</p>

    </div>
    <!--    donation buttons-->
    <div class="row justify-content-center container">
      <div class="col">
        <button class="bg-danger w-100 text-white" mat-raised-button>Borrar</button>
      </div>
      <div class="col">
        <button class="bg-primary w-100 text-white" mat-raised-button>Guardar</button>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Segregación
    </ng-template>
    <div class="container mt-3">
      <!--      section-->
      <div class="row justify-content-start">
        <div class="col-3">
          <mat-form-field>
            <input matInput placeholder="# Volumen" matTooltip="El numero del volumen actual">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <input matInput placeholder="# Instrumento" matTooltip="El numero del instrumento actual">
          </mat-form-field>
        </div>
      </div>

      <p class="text-justify">
        HEROICA CIUDAD DE TETELA DE OCAMPO, ESTADO DE PUEBLA, a las
        <mat-form-field>
          <input matInput placeholder="Fecha" matTooltip="Ingrese la fecha del documento">
        </mat-form-field>
        . ISAÍ GRACIDA MARTÍNEZ, Titular de la Notaría Pública Número Uno, del Distrito Judicial de Tetela, en
        ejercicio, hago constar: LA SEGREGACIÓN DE
        <mat-form-field>
          <input matInput placeholder="Terreno" matTooltip="Ingrese información sobre el terreno">
        </mat-form-field>
        , a solicitud del señor
        <mat-form-field>
          <input matInput placeholder="Nombre" matTooltip="Nombre de la persona">
        </mat-form-field>
        , socialmente conocido como
        <mat-form-field>
          <input matInput placeholder="Nombre de pila" matTooltip="Ingresar nombre de pila de la persona">
        </mat-form-field>
        . Conforme a las prevenciones, antecedentes y cláusulas siguientes:
        PROTESTA DE LEY. El otorgante del acto jurídico que se consigna en este instrumento fue exhortado de conducirse
        con verdad, tanto en lo que declare y manifieste, como en las estipulaciones que se contengan en los capítulos
        correspondientes, enterado de las penas en que incurre si actúan o declaran con falsedad, manifestando su
        conformidad.
        CONFIDENCIALIDAD. En la prestación de servicios de fe pública los datos personales son necesarios de conformidad
        con lo dispuesto en el artículo noventa y tres fracciones IX y XVI inciso a,) de la Ley del Notariado del Estado
        de Puebla y para cumplir con las disposiciones de la Ley Federal de Protección de Datos Personales en Posesión
        de los Particulares, en forma previa me identifiqué con los otorgantes y les informé que los datos
        proporcionados quedan protegidos y no se les dará un uso distinto, no obstante, deberá cumplirse con los avisos,
        declaraciones e informes a las autoridades competentes, de conformidad con las disposiciones legales,
        catastrales, fiscales y registrales, lo que aceptan para todos los efectos legales a que haya lugar.
      </p>

      <div class="row justify-content-center mt-5"><h3>ANTECEDENTES</h3>
      </div>
      <div class="row justify-content-center">
        <h4>Declara el compareciente bajo protesta de decir verdad:
        </h4>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>1 TÍTULO DE PROPIEDAD.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>1.1 DATOS REGISTRALES.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2 EXTINCIÓN DE USUFRUCTO VITALICIO Y CONSOLIDACIÓN DE PROPIEDAD.</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2.1 DATOS REGISTRALES.</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>3 CONTRIBUCIONES.</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>4 CARGAS Y GRAVÁMENES.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>5 AUTORIZACIÓN PARA SEGREGAR.</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-5"><h3>CLÁUSULAS</h3>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <div class="row justify-content-center"><h3>DATOS GENERALES
      </h3>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <p>
        YO, EL NOTARIO, CERTIFICO: I. Que el compareciente tiene a mi juicio la capacidad legal necesaria para contratar
        y obligarse, de quien me
        cercioré de su identidad con el documento oficial original relacionado en el capítulo de datos generales del que
        agrego copia certificada al legajo del apéndice. II. Que con relación a las disposiciones de la Ley Federal para
        la Prevención e Identificación de Operaciones con Recursos de Procedencia Ilícita, declarara bajo protesta de
        decir verdad que actúa en su nombre y por cuenta propia. III. Que lo relacionado e inserto, concuerda fielmente
        con los documentos originales que he tenido a la vista. IV. Que después de leer en voz alta este instrumento y
        explicarle el valor, fuerza y consecuencia legales del contenido, así como del derecho que le asiste para leer
        en forma personal, manifiesta su conformidad y firma el día de su otorgamiento, a mayor abundamiento imprime la
        huella digital del pulgar de la mano derecha. Doy fe</p>

    </div>
    <!--    segregation buttons-->
    <div class="row justify-content-center container">
      <div class="col">
        <button class="bg-danger w-100 text-white" mat-raised-button>Borrar</button>
      </div>
      <div class="col">
        <button class="bg-primary w-100 text-white" mat-raised-button>Guardar</button>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Aplicación de Bienes
    </ng-template>
    <div class="container mt-3">
      <!--      section-->
      <div class="row justify-content-start">
        <div class="col-3">
          <mat-form-field>
            <input matInput placeholder="# Volumen" matTooltip="El numero del volumen actual">
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field>
            <input matInput placeholder="# Instrumento" matTooltip="El numero del instrumento actual">
          </mat-form-field>
        </div>
      </div>

      <p class="text-justify">
        HEROICA CIUDAD DE TETELA DE OCAMPO, ESTADO DE PUEBLA,
        <mat-form-field>
          <input matInput placeholder="Fecha" matTooltip="Ingrese la fecha del documento">
        </mat-form-field>
        . ISAÍ GRACIDA MARTÍNEZ, Titular de la Notaría Pública número Uno, del Distrito Judicial de Tetela, en
        ejercicio, hago constar: I.- LIQUIDACIÓN DE LA SOCIEDAD CONYUGAL. II.- LA APLICACIÓN DE BIENES, de la sucesión
        intestamentaria
        <mat-form-field>
          <mat-label>Genero</mat-label>
          <select matNativeControl>
            <option value="el Señor">del Señor</option>
            <option value="la Señora">de la Señora</option>
          </select>
        </mat-form-field>
        -
        <mat-form-field>
          <input matInput placeholder="Nombre" matTooltip="Nombre de la persona">
        </mat-form-field>
        , que otorga
        <mat-form-field>
          <mat-label>Genero</mat-label>
          <select matNativeControl>
            <option value="al Señor">al Señor</option>
            <option value="a la Señora">a la Señora</option>
          </select>
        </mat-form-field>
        -
        <mat-form-field>
          <input matInput placeholder="Nombre" matTooltip="Nombre de la persona">
        </mat-form-field>
        , en su carácter de única y universal heredera y albacea definitivo, a favor de sí misma. Conforme a las
        prevenciones, antecedentes y cláusulas siguientes:

        PROTESTA DE LEY. La otorgante del acto jurídico que se consigna en este instrumento, fue exhortada de conducirse
        con verdad, tanto en lo que declare y manifieste, como en las estipulaciones que se contengan en los capítulos
        correspondientes, enterada de las penas en que incurren si actúan o declaran con falsedad, manifestando su
        conformidad.
        CONFIDENCIALIDAD. En la prestación de servicios de fe pública, los datos personales son necesarios conforme a lo
        dispuesto en los artículos noventa y tres fracciones IX, XVI, inciso a), de la Ley del Notariado del Estado de
        Puebla y para cumplir con las disposiciones de la Ley Federal de Protección de Datos Personales en Posesión de
        los Particulares, en forma previa me identifiqué con la otorgante y le informé que a los datos proporcionados no
        se les dará un uso distinto, no obstante, deberá cumplirse con los avisos, declaraciones e informes a las
        autoridades competentes, en cumplimiento a las disposiciones legales, catastrales, fiscales y registrales, lo
        que acepta para todos los efectos legales a que haya lugar.
      </p>

      <div class="row justify-content-center mt-5"><h3>ANTECEDENTES</h3>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>1 REMISIÓN DE AUTOS.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-5"><h4>2 RELACIÓN DE ACTUACIONES:
      </h4>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2.1 DENUNCIA.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2.2 RADICACIÓN.</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2.3 ESCRITO DE REPUDIO DE HERENCIA.</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2.4 RATIFICACION DE ESCRITO DE REPUDIO.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2.5 INVENTARIO Y AVALÚO.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2.6 DECLARATIVA DE HEREDEROS.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2.7 ACEPTACIÓN DEL CARGO DE ALBACEA DEFINITIVO.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2.8 SEPARACIÓN DE LA PROSECUCIÓN JUDICIAL.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2.9 DEVOLUCION DE AUTOS AL JUZGADO DE ORIGEN.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>2.10 NUEVA REMISION DE AUTOS.</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-5"><h4>3 ANTECEDENTE DE PROPIEDAD.
      </h4>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>3.1</mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>DATOS GENERALES</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>CONTRIBUCIONES.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>3.2.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>DATOS REGISTRALES.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>CONTRIBUCIONES</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>4.- CARGAS Y GRAVÁMENES.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>5 DECLARACIÓN BAJO PROTESTA.</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-5"><h4>CLÁUSULAS</h4>
      </div>
      <div class="row justify-content-center mt-5"><h4>CAPÍTULO I
      </h4>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>LIQUIDACIÓN DE LA SOCIEDAD CONYUGAL
          </mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-5"><h4>CAPÍTULO II
      </h4>
      </div>
      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
          <mat-label>APLICACIÓN DE BIENES
          </mat-label>
        </mat-form-field>
      </div>

      <div class="row justify-content-center mt-5"><h3>DATOS GENERALES
      </h3>
      </div>

      <div class="row justify-content-center mt-1">
        <mat-form-field class="w-100" appearance="outline">
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <p>
        YO, EL NOTARIO, CERTIFICO: I.- Que la compareciente tiene a mi juicio la capacidad legal necesaria para
        contratar y obligarse, quien se identificó con el documento oficial señalado en el capítulo de datos generales.
        II.- Que le hice del conocimiento el contenido del artículo tercero, fracción tres, de la Ley Federal para la
        Prevención e Identificación de Operaciones con Recursos de Procedencia Ilícita, respecto del beneficiario
        controlador y de la presunción de su existencia, declarando bajo protesta de decir verdad que actúa en nombre y
        por cuenta propia y por lo tanto no existe dueño beneficiario distinto. III.- Que lo relacionado e inserto
        concuerda fielmente con los documentos originales que he tenido a la vista. IV.- Que después de leer en voz alta
        este instrumento y explicarle el valor, fuerza y consecuencias legales del contenido, manifestó su conformidad y
        firma el día de su otorgamiento, a mayor abundamiento imprime la huella digital del pulgar de la mano derecha.
        Doy fe.
        “Ante mí”,
        <mat-form-field>
          <input matInput matTooltip="Ingrese la fecha"/>
          <mat-label>Fecha</mat-label>
        </mat-form-field>
        , firmó la otorgante. Doy fe.
      </p>

    </div>
    <!--    aplicacion de bienes buttons-->
    <div class="row justify-content-center container">
      <div class="col">
        <button class="bg-danger w-100 text-white" mat-raised-button>Borrar</button>
      </div>
      <div class="col">
        <button class="bg-primary w-100 text-white" mat-raised-button>Guardar</button>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Aviso
    </ng-template>
    <div class="container">
      <div class="row justify-content-end mt-1">
        <div class="col-4">
          <mat-form-field appearance="outline">
            <input matInput matTooltip="Ingrese el asunto actual">
            <mat-label>Asunto</mat-label>
          </mat-form-field>
        </div>
      </div>
      <div class="col-6"><p class="text-left">REGISTRADOR PÚBLICO DE LA PROPIEDAD Y DE COMERCIO
        DEL DISTRITO JUDICIAL DE SAN JUAN DE LOS LLANOS, LIBRES, PUEBLA.
        P R E S E N T E.</p></div>
      <p>En cumplimiento a lo dispuesto por los artículos 91 y 92, de la Ley del Registro Público de la Propiedad del
        Estado de Puebla, respetuosamente solicito: </p>
      <mat-form-field class="w-100" appearance="outline">
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-divider></mat-divider>
      <div class="col-5 mt-lg-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>TIPO DE OPERACIÓN</mat-label>
          <select matNativeControl required>
            <option value="DONACION PURA">DONACION PURA</option>
            <option value="DECLARACION DE EDFICICACIONES">DECLARACION DE EDFICICACIONES</option>
          </select>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <mat-form-field class="w-100" appearance="outline">
        <textarea matInput></textarea>
        <mat-label>Donante(s)</mat-label>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field class="w-100" appearance="outline">
        <textarea matInput></textarea>
        <mat-label>Donatario</mat-label>
      </mat-form-field>
      <mat-divider></mat-divider>
      <mat-form-field class="w-100" appearance="outline">
        <textarea matInput></textarea>
        <mat-label>Datos de registro</mat-label>
      </mat-form-field>
      <p class="text-center">A T E N T A M E N T E
        HEROICA CIUDAD DE TETELA DE OCAMPO, PUE., A
        <mat-form-field>
          <input matInput matTooltip="Ingrese la fecha de registro">
          <mat-label>Fecha</mat-label>
        </mat-form-field>
      </p>
      <p class="text-center">EL TITULAR DE LA NOTARÍA PÚBLICA NÚMERO UNO
        DEL DISTRITO JUDICIAL DE TÉTELA
        EN EJERCICIO:</p>
      <p class="text-center">
        LIC. ISAÍ GRACIDA MARTÍNEZ</p>
    </div>
    <div class="row justify-content-center container">
      <div class="col">
        <button class="bg-danger w-100 text-white" mat-raised-button>Borrar</button>
      </div>
      <div class="col">
        <button class="bg-primary w-100 text-white" mat-raised-button>Guardar</button>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Hoja de datos generales
    </ng-template>

    <div class="container">
      <div class="row justify-content-center mt-4 ">
        <h4 class="w-100 text-center">Vendedor 1</h4>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>Nombre</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput type="date">
          <mat-label>FECHA DE NACIMIENTO</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>LUGAR DE NACIMIENTO</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>ESTADO CIVIL</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>OCUPACIÓN</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>REGIMEN MATRIMONIAL</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>DOMICILIO</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>LOCALIDAD O POBLACIÓN</mat-label>
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="row justify-content-center mt-4">
        <h4 class="w-100 text-center">Vendedor 2</h4>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>Nombre</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput type="date">
          <mat-label>FECHA DE NACIMIENTO</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>LUGAR DE NACIMIENTO</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>ESTADO CIVIL</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>OCUPACIÓN</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>REGIMEN MATRIMONIAL</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>DOMICILIO</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>LOCALIDAD O POBLACIÓN</mat-label>
        </mat-form-field>
      </div>
      <div class="row justify-content-center mt-4">
        <h4 class="w-100 text-center">Comprador</h4>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>Nombre</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput type="date">
          <mat-label>FECHA DE NACIMIENTO</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>LUGAR DE NACIMIENTO</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>ESTADO CIVIL</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>OCUPACIÓN</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>REGIMEN MATRIMONIAL</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>DOMICILIO</mat-label>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input matInput>
          <mat-label>LOCALIDAD O POBLACIÓN</mat-label>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center container">
      <div class="col">
        <button class="bg-danger w-100 text-white" mat-raised-button>Borrar</button>
      </div>
      <div class="col">
        <button class="bg-primary w-100 text-white" mat-raised-button>Guardar</button>
      </div>
    </div>


  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Forma 1
    </ng-template>

    Content 3
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Forma 2
    </ng-template>

    Content 3
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Caratula
    </ng-template>

    Content 3
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Certificación
    </ng-template>

    Content 3
  </mat-tab>
</mat-tab-group>
